<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ARBREGIALOGIQUE</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/image.png' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- Custom fonts for this template-->
   <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

     <!-- Teste -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  {% block stylesheet %}{% endblock %}
</head>
<body id="page-top">
    <div id="wrapper">
      {% include 'base/sideBare.html' %}
       {% block contenu %}
       {% endblock %}
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
         <i class="fas fa-angle-up"></i>
    </a>

<!-- &lt;!&ndash;      librairie age&ndash;&gt;-->
<!--    <script src="{% static 'vendor/jquery/jquery.js' %}"></script>-->
<!--    <script src="{% static 'vendor/jquery/jquery-ui.js' %}"></script>-->

<script src = "http://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer ></script>


<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!-- JavaScript Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Page level plugin JavaScript-->
<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

<!-- Demo scripts for this page-->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin.min.js' %}"></script>


<script>
    $(".alert-success").fadeTo(2000, 500).slideUp(500, function(){
    $(".alert-success").slideUp(500);
    });
    $(".alert-error").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert-error").slideUp(500);
    });
</script>

</body>
</html>